* {
    margin: 0;
}

/* Header Style start */
.banner {
    background-image: url(./Assets/Banner\ Image.png);
    background-repeat: no-repeat;
    max-width: 1440px;
    height: 600px;
    margin: 50px auto;
}

h1 {
    color: white;
    text-align: center;
    margin: 10px auto;
    font-size: 72px;
    font-weight: 900px;
    font-family: Merriweather;

}

.banner-text {
    color: white;
    text-align: center;
    font-size: 32px;
    font-weight: 400px;
    padding-top: 177px;
}

/* Header Style End  */

.discount-section {
    max-width: 1440px;
    height: 600px;
    margin-top: 120px auto;
}

.discount-offer-text {
    color: #F00;

    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 48px;
}

.new-year-img {
    text-align: center;
  
}

.discount-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;

}

.all-categories {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 48px;

}
/* welcome section */
.welcome-party-ection{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(./Assets/Vectorrr.png);
    background-repeat: no-repeat;
    max-width: 1440px;
    height: 600px;
    margin: 250px  auto 120px;
}

.welcome-heading{
    color: #FFF;

font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
}
.welcome-description{
    color: rgba(255, 255, 255, 0.80);

font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
}

.join-now-button{
    color: #FFF;

    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}
/* Time Date and Place section */
.time-and-place-section{
    max-width: 1440px;
    height: 480px;
    margin: 50px auto;
    background : linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
   margin-top: 200px ;
   display: flex;
   align-items: center;

}

.description{
    margin: 10px auto;
}